[ -x "$(command -v toilet)" ] && toilet -f term -F border --gay " Upbit Staking Service "

PATH_add 'bin'

export PARALLEL_TEST_PROCESSORS=6

# Set starship prompt
export STARSHIP_CONFIG=$(PWD)/.starship.toml
GIT_ROOT="$(git rev-parse --show-toplevel)"
export ISSUE_TITLE_FILE="$GIT_ROOT/.issue_title"

# Install git hook
[ -x "$(command -v features)" ] \
  && (! [ -f $GIT_ROOT/.git/hooks/post-checkout  ] ) \
  && echo 'features current_issue_title > $ISSUE_TITLE_FILE 2> /dev/null' > $GIT_ROOT/.git/hooks/post-checkout \
  && chmod u+x "$GIT_ROOT/.git/hooks/post-checkout" \
  && echo ".git/hooks/post-checkout Installed"

[ -s $ISSUE_TITLE_FILE ] || features current_issue_title > $ISSUE_TITLE_FILE

